footer {
  margin-top: 30px;
}

.footer {
  &-container {
    width: 100%;
    @include flexLayout($justify-content: space-between);
    background: $secondary-color;
    padding: $padding;
    gap: $gap;

    @include breakpoint($tablet-lg, max) {
      flex-direction: column;
    }
    .paragraph-text {
      @include flexLayout();
      @include textConfig($color: $white, $text-align: center);

      img {
        margin-right: 5px;
      }
    }
  }
  &-links {
    &-01,
    &-02 {
      @include flexLayout();
      gap: $gap;
    }
  }
  &-credits {
    gap: $gap;
  }
}
